body {
    font-family: arial;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    background-color: #00AF66;
}

li a:hover:not(.active) {
    background-color: #111;
}

#top_left {
    width: 100%;
    height: 180px;
    background-color: bisque;
    float: left;
    padding-top: 20px;
    padding-left: 5%;
}

#top_right {
    width: 30%;
    height: 200px;
    background-color: rgb(255, 234, 0);
    float: left;
    text-align: center;
}

#top_right img {
    width: 200px;
    height: 200px;
}


#down div {
    width: 20%;
    height: 200px;
    margin-right: 2.5%;
    margin-left: 2.5%;
    margin-top: 20px;
    background-color: #f1f8f5;
    float: left;
}

#logoContainer img {
    width: 150px;
    height: 150px;
    left: 85%;
    top: -30px;
    position: relative;
    animation: logoAnimation 7s;
    animation-iteration-count: infinite;
}

@keyframes logoAnimation {
    from {}

    to {
        transform: rotate(360deg);
    }
}

#navigator_bar {
    background-color: #333;
    height: 40px;
}

#timer {
    position: absolute;
    left: 1000px;
    top: 18px;
    color: white;
}

#footer {
    background-color: rgb(17, 17, 16);
    color: rgb(213, 201, 125);
    text-align: center;
    padding-top: 15px;
    height: 50px;
    width: 100%;
}

#top p img {
    /* width : 100%;*/
    height: 300px;
}

@media screen and (min-width:600px) {
    #top p img:first-child {
        width: 58% !important;

    }

    #top p img:last-child {
        width: 40% !important;
    }


    #rollingPicsContainer {

        position: absolute;
        width: 100%;
        height: 240px;
        position: relative;
        top: -50px;


    }

    #rollingPicsContainer img {
        width: 200px;
        height: 200px;
        margin-top: 20px;
        margin-bottom: 20px;
        float: right;
        margin-right: 20px;

    }

    #tabDiv {
        width: 100px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        transform: rotate(90deg);
        background-color: rgb(207, 178, 90);
        height: 30px;
        padding-top: 15px;
        text-align: center;
        position: relative;
        left: 975px;
        top: 130px;
        cursor: pointer;
        z-index: 10;
    }

    @keyframes a2 {
        from {
            left: -1050px;
        }

        to {
            left: 1000px;
        }
    }

    #newPanel {

        background-color: rgb(173, 152, 77);
        position: absolute;
        left: -1000px;
        top: 100px;
        width: 1000px;
        height: 240px;
        z-index: 10;
    }
}


@media screen and (max-width:600px) {
    #top p img:first-child {
        width: 100% !important;
    }

    #top p img:last-child {
        width: 100% !important;
    }
}

@media screen and (max-width:600px) {
    #rollingPicsContainer {
        /* display : none;*/
        position: absolute;
        width: 100%;
        height: 240px;
        position: relative;
        top: -50px;
        /*left : -1000px;
     top : 100px;
     width : 1000px;
     height : 240px;
     z-index : 10;
     background-color: #00AF66;*/

    }

    #rollingPicsContainer img {
        width: 200px;
        height: 200px;
        margin-top: 20px;
        margin-bottom: 20px;
        float: right;
        margin-right: 20px;
        transform: rotate(-90deg);
    }

    #tabDiv {
        width: 100px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        transform: rotate(270deg);
        background-color: blueviolet;
        height: 30px;
        padding-top: 15px;
        text-align: center;
        position: relative;
        left: 975px;
        top: 130px;
        cursor: pointer;
        z-index: 10;
    }

    @keyframes a1 {
        from {
            left: -1050px;
        }

        to {
            left: 1000px;
        }
    }

    #newPanel {
        left: -100px;
        background-color: darkolivegreen;
        position: absolute;
        /*left : -1000px;*/
        top: -620px;
        width: 1000px;
        height: 240px;
        z-index: 10;
        transform: rotate(90deg)
    }
}