body {
    font-family: arial;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}

li {
    float: left;
    border-right: 1px solid #f4eeee;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    background-color: #00AF66;
}

li a:hover:not(.active) {
    background-color: #111;
}

#container div div {
    width: 50%;
    height: 200px;
    margin-top: 20px;
    float: left;
    text-align: center;
    font-size: 14pt;

}

#d1_left {
    background-color: rgb(133, 200, 202);
}

#d1_right {
    background-color: rgb(50, 26, 2);
}

#d2_left {
    background-color: rgb(233, 226, 160);
    width: 50%;
    height: 200px;
    margin-top: 10px;
    float: left;
    text-align: center;
}

#d2_right {
    background-color: rgb(210, 164, 117);
}

#d1 h1.header {

    height: 120px;
    margin: 30px;
    background-color: #b599d8;
    position: relative;
    text-align: center;
    color: rgb(61, 225, 179);
    font-weight: bold;
    font-size: 34pt;
}

#logoContainer img {
    width: 60px;
    height: 60px;
    left: 80%;
    top: -50px;
    position: relative;
    animation: logoAnimation 7s;
    animation-iteration-count: infinite;
}

@keyframes logoAnimation {
    from {}

    to {
        transform: rotate(360deg);
    }
}

#navigator_bar {
    background-color: #333;
    height: 40px;
}

#contact {
    text-align: center;
    height: 50px !important;
    position: relative;
    top: -100px;
    width: 100% !important;
}

#contactButton {
    width: 100px !important;
    height: 30px !important;
    padding: 10px;
    background-color: black;
    color: gold;
    left: 46%;
    position: relative;
    top: -40px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
    margin-bottom: 10px;
    cursor: pointer;
}

#mask {

    width: 100% !important;
    height: 100% !important;
    background-color: black;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 10;
}

#contactForm img {

    position: relative;
    cursor: pointer;
}

#contactForm {
    display: none;
    width: 400px;
    height: 400px;
    position: absolute;
    z-index: 20;
    background-color: white;
    border-radius: 20px;
}

#contactForm td {
    color: navy !important;
}

#contactForm table {
    margin: 70 auto 0;
}

#contactForm input[type=text] {
    border-radius: 5px;
    width: 200px;
    height: 35px;
    outline: none;
}

#contactForm textarea {
    width: 200px;
    height: 150px;
    margin-top: 10px;
}

#contactForm input[type=button] {
    border: none;
    background-color: gold;
    color: black;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    text-align: center;
    top: 12px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: bold !important;
}